<!doctype html>
<html lang=en>
<head>
	<meta charset=utf-8>
	<title>TED | {{code}}: {{title}}</title>
	<meta name=viewport content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/global.css">
</head>
<body>

<div class="t">
	<div class="t__c">
		<div class="Notice">
			<img class="Notice__image" src="/assets/{{image}}">

			<h1>{{headline}} (<a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#{{code}}">{{code}}</a>)</h1>

			{{{message}}}

			<h2>What's next?</h2>
			<ul>
				<li><a href="#" onclick="history.back();return false">Go back to the previous page</a></li>
				<li><a href="https://www.ted.com">Go to the TED.com homepage</a></li>
				<li><a href="https://support.ted.com">Visit TED.com Help &amp; Support</a></li>
			</ul>
		</div>
	</div>
</div>

{{> ga}}
<script>ga('send', 'event', 'error', '{{code}}', location.hostname + location.pathname)</script>
</body>
</html>